@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

@theme {
    --shadow-top: 0 -4px 6px -1px rgba(0, 0, 0, 0.1);
}

/* One of the few edge cases where we need to apply these styles: conditional hover coloring (dark/light mode) on a navbar link */
@layer components {
    .navbar-link {
        @apply font-extralight transition-colors duration-500;
    }

    html.light .navbar-link:hover {
        @apply text-gray-300;
    }

    html.dark .navbar-link:hover {
        @apply text-gray-600;
    }
}

@layer utilities {
    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(-0.25rem);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .animate-fade-in {
        animation: fade-in 0.5s ease-out forwards;
    }

    .text-balance {
        text-wrap: balance;
    }
}
